<div class="signup-container">
  <div class="signup-card">
    <h1 class="app-title">Crea una cuenta</h1>
    <p class="subtitle">¿Ya estás registrado? <a href="/login" class="signup-link">Ingresa aquí</a></p>
    <form (ngSubmit)="onRegister(formLogin)" #formLogin="ngForm">
      <div class="form-group">
        <input type="text" name="nombre" ngModel class="input-field" placeholder="Introduce tu nombre" required />
      </div>
      <div class="form-group">
        <input type="email" name="correo" ngModel class="input-field" placeholder="Introduce tu correo electrónico" required />
      </div>
      <div class="form-group">
        <input type="password" name="clave" ngModel class="input-field" placeholder="Introduce una contraseña" required />
      </div>
      <div class="form-group">
        <input type="number" name="edad" ngModel class="input-field" placeholder="Introduce tu edad" required />
      </div>
      <button type="submit" class="btn-login">Regístrate</button>
    </form>
  </div>
</div>
