<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">

          <!-- Contenido central -->
          <div class="container-fluid mt-4">
            <div class="row">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/meta">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Metas</li>
                </ol>
              </nav>
              <div class="col-md-12 d-flex justify-content-center">
                <div class="page-header">
                  <h1>
                    <small>¿Qué deseas lograr hoy?</small>
                  </h1>
                </div>
              </div>
            </div>

            <!-- Tabla de metas -->
            <div class="row">
              <div class="col-md-10">
                <div class="mb-3">
                  <!-- Botón para registrar metas -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Registrar Meta
                  </button>
                </div>

                <!-- Tabla -->
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha de Inicio</th>
                        <th scope="col">Fecha de Finalización</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of metaList">
                        <td>{{item.titulo}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.fechaInicio}}</td>
                        <td>{{item.fechaFinalizacion}}</td>
                        <td>{{item.estado}}</td>
                        <td><button type="button" class="btn btn-primary" (click)="toggleEditMeta(item._id)">
                            <i class="bi bi-pencil-square"></i>
                          </button></td>
                        <td><button type="button" class="btn btn-primary" (click)="deleteMetaEntry(item._id)">
                            <i class="bi bi-trash"></i>
                          </button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Formulario de edición -->
                <form *ngIf="editableMeta" class="card p-2" (ngSubmit)="updateMetaEntry()" [formGroup]="metaForm">
                 <div class="mb-3">
                      <label for="titulo" class="form-label">Título</label>
                      <input type="text" class="form-control" id="tituloMeta" placeholder="Título de la meta" formControlName="titulo">
                    </div>
                    <div class="mb-3">
                      <label for="descripcion" class="form-label">Descripción</label>
                      <input type="text" class="form-control" id="descripcion" placeholder="Descripción de la meta" formControlName="descripcion">
                    </div>
                    <div class="mb-3">
                    </div>
                    <div class="mb-3">
                      <label for="fecha" class="form-label">Fecha Inicio</label>
                      <input type="date" class="form-control" id="fechaInicio" placeholder="Fecha de inicion de la meta" formControlName="fecha">
                    </div>
                    <div class="mb-3">
                      <label for="fecha" class="form-label">Fecha Finalizacion</label>
                      <input type="date" class="form-control" id="fechaFinalizacion" placeholder="Fecha en la que se debe haber cumplido la meta" formControlName="fechaFinalizacion">
                    </div>
                    <div class="mb-3">
                      <label for="estado" class="form-label">Estado</label>
                      <div class="form-check">
                          <input 
                              type="checkbox" 
                              class="form-check-input" 
                              id="estado" 
                              formControlName="estado">
                          <label class="form-check-label" for="estado">
                              ¿Cumplida?
                          </label>
                      </div>
                  </div>
                  <div class="input-group justify-content-center md-12">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Modal para registrar nueva meta -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Meta</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="card p-2" (ngSubmit)="newMetaEntry()" [formGroup]="metaForm">
                    <div class="mb-3">
                      <label for="titulo" class="form-label">Título</label>
                      <input type="text" class="form-control" id="tituloMeta" placeholder="Título de la meta" formControlName="titulo">
                    </div>
                    <div class="mb-3">
                      <label for="descripcion" class="form-label">Descripción</label>
                      <input type="text" class="form-control" id="descripcion" placeholder="Descripción de la meta" formControlName="descripcion">
                    </div>
                    <div class="mb-3">
                    </div>
                    <div class="mb-3">
                      <label for="fecha" class="form-label">Fecha Inicio</label>
                      <input type="date" class="form-control" id="fechaInicio" placeholder="Fecha de inicion de la meta" formControlName="fecha">
                    </div>
                    <div class="mb-3">
                      <label for="fecha" class="form-label">Fecha Finalizacion</label>
                      <input type="date" class="form-control" id="fechaFinalizacion" placeholder="Fecha en la que se debe haber cumplido la meta" formControlName="fechaFinalizacion">
                    </div>
                    <div class="mb-3">
                      <label for="estado" class="form-label">Estado</label>
                      <div class="form-check">
                          <input 
                              type="checkbox" 
                              class="form-check-input" 
                              id="estado" 
                              formControlName="estado">
                          <label class="form-check-label" for="estado">
                              ¿Cumplida?
                          </label>
                      </div>
                  </div>
  
                    <div class="input-group justify-content-center">
                      <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>