

/* Estilo para la tabla con filas alternadas (oscuro y claro) */
table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; /* Centra la tabla */
}

th, td {
  padding: 12px;
  text-align: left;
  color: rgb(11, 11, 11); /* Texto blanco */
}

tr:nth-child(odd) {
  background-color: #9d61c8; /* Fila impar con un tono morado oscuro */
}

tr:nth-child(even) {
  background-color: #7a1ec2; /* Fila par con un tono morado más claro */
}

th {
  background-color: #5a0a99; /* Tono morado oscuro para el encabezado */
  text-align: center;
}

td {
  text-align: center;
}

/* Estilos para los botones (Registrar, Editar, Eliminar) */
button {
  background-color: #673a87; /* Fondo morado */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Transición suave en el hover */
}

button:hover {
  background-color: #7a1ec2; /* Tono morado más claro al pasar el cursor */
}

/* Estilos adicionales para el formulario */
form {
  border-radius: 10px;
  background-color: #f3e6f7; /* Fondo morado claro para el formulario */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

label {
  color: #6a0dad; /* Color de texto morado para las etiquetas */
  font-weight: bold;
}

input[type="text"], input[type="date"], select {
  border: 1px solid #6a0dad; /* Borde morado */
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #c47ff2; /* Fondo morado claro para los inputs */
}

input[type="text"]:focus, input[type="date"]:focus, select:focus {
  outline: none;
  border-color: #7a1ec2; /* Borde más claro al hacer focus */
  box-shadow: 0 0 5px #7a1ec2; /* Sombra de enfoque */
}

/* Estilo para la barra lateral (sidebar) */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
  font-weight: 500;
  color: #6a0dad; /* Color morado para los enlaces */
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover {
  color: #6a0dad; /* Cambio a morado cuando pasa el mouse sobre los enlaces */
}

/* Navbar */
.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

/* Estilos para la barra de búsqueda */
.form-control-dark {
  color: #0cbb18;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}



.form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}


