<nav class="navbar navbar-expand-lg bg-custom">
  <div class="container-fluid">
    <!-- Logo con Foto y Dropdown -->
    <div class="d-flex align-items-center">
      <img class="img-profile rounded-circle me-2" src="assets\images\user.png" alt="User" width="40" height="40">
      <div class="dropdown">
        <a class="navbar-brand dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{userName}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
          <li><a class="dropdown-item" href="/configuracion">Configuración</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>

    <!-- Botón para menú colapsable en pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Opciones del menú -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/analisis" routerLinkActive="active">Análisis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/emociones" routerLinkActive="active">Emociones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/metas" routerLinkActive="active">Metas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
